 body {
   //* background-color: #0000f !important;*//
    color: black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(123,0,255,0.644782913165266) 33%, rgba(23,121,9,0.5635504201680672) 72%);
  }

.nav-item {
    color: white;
    font-weight: 400;
    font-size: 20px !important;
}

.nav-item:hover {
    font-weight: 500;
    font-size: 20px !important;
}


.navbar-brand {
   font-size: 24px !important;
}

.form_black {
   background-color: white !important;
   border-radius: 8px;
   padding: 20px;
   margin-top: 40px;
}

.page_border {
   background-color: #d1d1d1 !important;
   color: white !important;
   border: 2px solid #45464F;
   border-radius: 10px;
   padding: 20px !important;
   margin: 0 auto;
   margin-top: 30px;
}

.menu_item {
   padding: 5px !important;
   font-size: 15px !important;
}
hr {
   background-color: #2f26ab;
   color: #FB4229;
}
.reposts {
    color: #2f26ab !important;
    font-size: 8px !important;
    text-align: right;
}

.btn-warning {
    background-color: #2f26ab !important;
    border: 2px #FB4229 !important;
}

.comments {
   font-size: 13px !important;
}

.com_label {
   background-color: #121d2f !important;
   color: white !important;
   border: 2px solid #121d2f;
   width: 25%;
   border-radius: 10px;
}
.round_avatar {
    margin-left:10px;
    margin-right:10px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50px !important;
   }

.round_office {
    margin-left:10px;
    margin-right:10px;
    width: 210px !important;
    height: 210px !important;
    border-radius: 210px !important;
}

.round {
    margin-left:15px;
    margin-right:15px;
    width:125px;
    height: 125px;
    border-radius: 125px !important;
    box-shadow: 0 0 7px black;
   }

.vertical-menu {
    width: 300px;
    height: 350px;
}

.vertical-menu li {
    background-color: #0000;
    color: white;
    display: white;
    text-decoration: none;
}

.vertical-menu li:hover {
    background-color: #fff;
}

.circle_habits {
    background-color: #2f26ab !important;
    color: white !important;
    border: 2px solid #CF9B8F;
    border-radius: 10px;
    padding: 20px !important;
    margin: 0 auto;
    margin-top: 30px;
}

.row2 {
    text-align: center;
}
.col-md-4 {
    display: inline-block;
}
.page_border {
    color: black;
}
.holiday {
    background-color: rgba(0, 0, 0, 0.5);
	font-size: 35px;
	color: #FFFFFF;
    border-radius: 10px;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5), -8px 0 0
}
.multicolor-text {
            text-align: center;
            font-size: 80px;
            background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
            -webkit-background-clip: text;
            color: transparent;
}
.mem {
float: right;
}

.motivation{
      font-size: 5rem;
      text-align: center;
      height:90vh;
      line-height: 15vh;
      color: #fcedd8;
       font-family: 'Niconne', cursive;
      font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b,
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #052939,
                  30px 30px 0px #c11a2b,
                  35px 35px 0px #c11a2b,
                  40px 40px 0px #c11a2b,
                  45px 45px 0px #c11a2b;
}