{% extends "base.html" %}

{% block content %}
<div class="page_border" style="color: black !important;">
    <h2>NoName. Цели и предназначние.</h2>
    <div style="margin-left: 50px; margin-bottom: 0px !important;">
        <p>В наше время, когда так сильно развиты технологии, действительно сложно держать себя в форме.</p>
        <p>Наше приложение может помочь с этим! NoName помогает добиваться своих целей, которые вы поставите.</p>
        <p>Ждём от вас новых достижений!</p>
    </div>
 </div>
</div>
{% endblock %}