{% extends "base.html" %}


{% block content %}
<div class="btn-toolbar justify-content-between">
    <h3></h3>
</div>

<form action="" method="post">
    <div class="form_black">
        {{ form.hidden_tag() }}
        <p>
            {{ form.news_name.label }}<br>
            {{ form.news_name(class="form-control") }}<br>
            {% for error in form.news_name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.news_content.label }}<br>
            {{ form.news_content(class="form-control") }}<br>
            {% for error in form.news_content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        {{message}}
    </div>

</form>
{% endblock %}