<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />
    <title>{{ title }}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-secondary">
        <h1>Проект NoName</h1>
        {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        {% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
    </nav>
    <h4></h4>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
    <!-- подвал -->
       <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">contact us: +7 977 452 36 85</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">tg bot</a></li>
    </ul>
  </footer>
    </div>
</main>
</body>
</html>