<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css?random()">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="width: 250px;" href="/">
                <img src="/static/img/logo.png" alt="" width="26" height="18"
                     class="d-inline-block text-align-center" style="margin-bottom:5px;">
                NoName
            </a>
            <div class="collapse navbar-collapse">
                <ul class="mx-auto navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" style="width: 200px;" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="width: 200px;" href="/news">Лента</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="width: 200px;" href="/info">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="width: 200px;" href="/office">Профиль</a>
                </ul>
                {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/logout">{{current_user.nickname}}</a>
                {% else %}
                <p>
                    <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                    <a class="btn btn-success" href="/login">Войти</a>
                </p>
                {% endif %}

            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>
