{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Планер</title>
    <iframe src="https://calendar.yandex.ru/week?embed&layer_ids=12345&tz_id=Asia/Yekaterinburg" width="800"
            height="450"
            frameborder="0" style="border: 1px solid #eee"></iframe>
</head>
<body>
<h3>Планер может использоваться для отслеживания дедлайнов и важных событий в проекте, чтобы убедиться, что все сроки соблюдаются и всё идет по плану.</h3>
</body>
</html>
{% endblock %}