{% extends "base.html" %}

{% block content %}
     <h1>  Хто ты </h1>
      {% if message %}
            <div class="alert alert-warning" role="alert">
              {{ message }}
            </div>
      {% endif %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm }}<br>
            {% for error in form.confirm.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname }}<br>
            {% for error in form.surname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>


        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}